<div class="story-text">
<p>
As you leave your house, you suddenly remember: MY KEYS!
</p>

<p>
Check your pockets to make sure they're there... otherwise this is going to be a whole different kind of game.
</p>

<p>
  The cool air hits you and you can and the scent of your hometown ‘SOMETHING’ fills your nostrils. 
  As you recently volunteered for a medical research trial, 
  your memory is a little hazy and can't exactly remember how to get to Big Boys Burger. You’re presented with two options: left or right.
</p>
</div>
<div>
  <%= button_to "Left", '/index', method: :get, class: "left-button" %>
</div>

<div>
  <%= button_to "Right", '/index', method: :get, class: "welcome-page-buttons" %>
</div>