<div class="story-text">
  <p>
  It’s 8:37 pm on a Thursday. It would be a school night, if you were still in school, but you’re not. 
  You’re 24 and live with your cat... Mr Whiskerson. You believe he is the type of cat that prefers to be addressed as such.
  </p>

  <p>
  You’re hungry. Opening your fridge reveals a disappointing onion, a gallon of milk and some foot ointment. 
  Given your limited cooking abilities and limited-er ingredients you decide there’s only one thing for you. A job application.
  </p>

  <p>
  However, you opt for the more appealing decision of visiting your favourite restaurant: ‘Big Boys Big Burger Joint: for all ages’.
  </p>

  <p>
  You grab your keys and head out of your door, down the stairs, through the dimly lit hallway and out into the street.
  </p>

  <p>
  The cool air hits you and you can and the scent of your hometown ‘SOMETHING’ fills your nostrils. 
  As you recently volunteered for a medical research trial, 
  your memory is a little hazy and can't exactly remember how to get to Big Boys Burger. You’re presented with two options: left or right.
  </p>

  <p>
  Where do you go?
  </p>
</div>
<%= button_to "Right", action: "right", method: "get" %>
<%= link_to "Left", action: "left" %>