<div class="story-text">

<p>
Your instincts took you left...your instincts were wrong. You follow the tired pavement around to the back of your apartment building. There is an old tv, a bicycle with 3 wheels and several large dumpsters that haven’t been emptied in some time.
</p>


<p>
Nothing else here seems to be worth your time...
</p>

<p>
What do you do? [question why a bicycle has 3 wheels...]
</p>
</div>