
<div class="story-text">
<%= image_tag "dead-end.png", id: "dead-end-img", alt: "Dark dead end", class: "dead-end-img"%>
<BR CLEAR=”left” />
<p>
Your instincts took you left… your instincts were wrong. You follow the tired pavement around to the back of your apartment building. 
There is an old tv, a bicycle with 3 wheels and several large dumpsters that haven’t been emptied in some time.
</p>

<p>
Nothing else here seems to be worth your time…
</p>

<p>
 What do you do?
</p>

<% if @bike_text_clicked %>
  <p class = 'narrator-text'> The bike is the definition of being a third wheel. </p>
  <%= link_to "Go Back", '/game/page5', class: "page6-button-1" %>
<% else %>
  <%= link_to "Question: Why does a bicycle have 3 wheels?...", '/game/page6-bike', class: "page6-button-1" %>
  <%= link_to "Go Back", '/game/page5', class: "page6-button-2" %>
<% end %>

</div>
