<div class="story-text">
  <p>
  Have you eaten your carrots today?
  </p>

  <p>
  Image of a carrot?
  </p>

  <p>
  *** Other text about the puzzle goes here ***
  </p>

  <%= link_to "Wrong", '/game/page6', class: "wrong-correct-button" %>
  <%= link_to "Correct", '/game/win', class: "wrong-correct-button" %>

</div>
