<div class="story-text">
  <p>
  It’s 8:37 pm on a Thursday. It would be a school night, if you were still in school, but you’re not. 
  You’re 24 and live with your cat... Mr Whiskerson. You believe he is the type of cat that prefers to be addressed as such.
  </p>

  <p>
  You’re hungry. Opening your fridge reveals a disappointing onion, a gallon of milk and some foot ointment. 
  Given your limited cooking abilities and limited-er ingredients you decide there’s only one thing for you. A job application.
  </p>

  <p>
  However, you opt for the more appealing decision of visiting your favourite restaurant: ‘Big Boys Big Burger Joint: for all ages’.
  </p>

  <% if @keys_grabbed %>
    <p>
    You grab your keys and head out of your door, down the stairs, through the dimly lit hallway and out into the street.
    </p>
  <% else %>
    <%= button_to "Grab Keys", '/game/grab-keys', class: "leave-the-house-button"%>
  <% end %>
  <%= button_to "Leave the House", '/game/page2', class: "leave-the-house-button", method: :get%>

</div>