

<head>
  <link rel="stylesheet" href="index.css">
</head>

<div class="content">
  <h2 class="text_shadows">Congratulations!</h2>
</div>

<div class="story-text">
<%= image_tag "win.png", id: "win", alt: "You win in neon and neon burger", class: "win-page-img"%>
<BR CLEAR=”left” />

<p>
Text to be added here about WINNING!....
</p>



<audio src="https://www.pacdv.com/sounds/applause-sound/app-29.wav" controls></audio>




  



