<audio src="https://www.pacdv.com/sounds/applause-sound/app-29.wav" autoplay loop></audio>
<!--- To enable autoplay - Safari must be used with autoplay enabled --->

<head>
  <link rel="stylesheet" href="index.css">
</head>

<div class="content">
  <h2 class="text_shadows">Congratulations!</h2>

</div>

<span>
<%= image_tag "win.png", id: "win", alt: "You win in neon and neon burger", class: "win-page-img"%>

<%= image_tag "hk1.png", id: "hk1", alt: "Harold and Kumar smiling", class: "hk1-img"%>
</span>



  



