<head>
  <link rel="stylesheet" href="index.css">
</head>

<div class="content">
  <h2 class="text_shadows">Burger Hunt</h2>
</div>

<%= image_tag "drive-thru.png", class: "landing-page-img" %>
<%= image_tag "neon-arrow.png", class: "landing-page-img" %>

<form method="get" action="articles/room1">
  <input type="submit" value="Go to room 1">
</form>
<br>

<form method="get" action="articles/room2">
  <input type="submit" value="Go to room 2">
</form>
