<head>
  <link rel="stylesheet" href="index.css">
</head>

<div class="content">
  <h2 class="text_shadows">Burger Hunt</h2>
</div>

<%= image_tag "drive-thru.png", class: "landing-page-img" %>
<%= link_to '/articles/register', class: "landing-page-img" do %>
  <%= image_tag "neon-arrow.png", alt: "Click here to start game", class: "landing-page-img"%>
<% end %>
