<h1>Welcome to Burger Hunt!</h1>


<form method="get" action="articles/room1">
  <input type="submit" value="Go to room 1">
</form>
<br>

<form method="get" action="articles/room2">
  <input type="submit" value="Go to room 2">
</form>
