<h1>You are now in Room 2</h1> 

<h2>Hello <%= @name %> - press Exit to find your burger!</h2>

<form method="get" action="journey-end">
  <input type="submit" value="Get your burger!">
</form>
<br>

