
<div class="navigation-bar nav-space-between">

  <div class="nav-user-options">
    <h3>Howdy!</h3>
  </div>

  <div class="nav-user-options">
      <%= button_to "New post", '/posts/new', class: "button-type-2", method: :get%>
      <%= button_to "Log out", '/log-out', class: "button-type-2", method: :get %>
  </div>
  
</div>
