/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.narrator-text {
  color: #f4d836;
  font-style: italic;
}

.page-footer {
  background-color: rgb(0, 0, 0);
  border-bottom: 3px solid black;
  text-align: left;
  color: #e32424;
  position:absolute;
  bottom:0;
  width:100%;
  font-size: 60%;
  font-weight:bold;
 }

.page-footer-icon {
  width: 60px;
  height: 30px;
}

.carrots-0 {
  filter: opacity(0%)
}

.carrots-1 {
  filter: opacity(33%)
}

.carrots-2 {
  filter: opacity(66%)
}

.carrots-3 {
  filter: opacity(100%)
}

.credentials-container {
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid white;
  width: 300px;
  background-color: rgb(156, 208, 205);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: black;
}