.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: black;
  border-bottom: 3px solid white;
  margin-bottom: 0px;
  padding: 3px 20px;
  /* text-align: right; */
  color: white;
  min-height: 80px;
}

.nav-space-between {
  justify-content: space-between;
}

.nav-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navigation-bar-username-text {

  background-color: white;
  border: none;
  border-radius: 4px;
  color: #e32424;
  padding: 7px 10px;
  text-align: left;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
}
